fastapi
uvicorn
sqlmodel
duckdb
duckdb-engine
essentia-tensorflow
tinytag
pydantic
python-multipart
websockets
requests
mutagen
platformdirs
pyinstaller
pydantic-settings
aiohttp
mcp
pyrekordbox==0.4.4
sqlcipher3-wheels==0.5.7
