fastapi
uvicorn
sqlmodel
duckdb
duckdb-engine
essentia-tensorflow; sys_platform != "win32"
tinytag
pydantic
python-multipart
websockets
requests
mutagen
platformdirs
pyinstaller
pydantic-settings
aiohttp
mcp[cli]
pyrekordbox==0.4.4
sqlcipher3-wheels==0.5.7
pytest
pytest-asyncio
pytest-mock
